# Example .gitignore file for your config dir.
# A * ensures that everything will be ignored.
*

!*.yaml
!.gitignore
!*.md

# Ignore folders.
.storage
.cloud
.google.token

ip_bans.yaml
secrets.yaml
known_devices.yaml